# 관광객 데이터 전처리

## 데이터 불러오기

In [1]:
# kto_2019.xlsx 파일불러오기
# 컬럼명과 컬럼에 대한 데이터만 불러오기 
import pandas as pd

In [2]:
# 자동화

file_path = "./files/kto_201901.xlsx"
kto_201901 = pd.read_excel(file_path,
                           header=1, #컬럼명의 위치지정
                           skipfooter = 4, #밑에서부터 제거할 위치
                           usecols = "A:G")  #가져올 컬럼의 범위

In [3]:
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [4]:
kto_201901.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [5]:
kto_201901.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [6]:
condition = (kto_201901["관광"]== 0)\
            | (kto_201901["상용"] == 0)\
            | (kto_201901["공용"] == 0)\
            | (kto_201901["유학/연수"] == 0 )

In [7]:
kto_201901[condition]

        국적    관광   상용  공용  유학/연수     기타      계
4      마카오  2506    2   0     17     45   2570
20    이스라엘   727   12   0      9     57    805
22  우즈베키스탄  1958  561   0    407   2828   5754
38     스위스   613   18   0     19     97    747
45     그리스   481   17   4      0    273    775
46    포르투갈   416   14   0     13    121    564
51   크로아티아   226   12   0      3    250    491
54     폴란드   713   10   0     27    574   1324
59  대양주 기타   555    3   4      0     52    614
63    기타대륙    33    4   0      1     16     54
64    국적미상    33    4   0      1     16     54
65    교포소계     0    0   0      0  15526  15526
66      교포     0    0   0      0  15526  15526

In [8]:
 kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [9]:
#자동화 (format으로 조합)

# 년월에 대한 컬럼을 추가
# 컬럼명: 기준년월
# 값: 2019-01
kto_201901["기준년월"] = "2019-01"

In [10]:
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [11]:
# 국적 컬럼의 값을 조회... 고유한 값 
kto_201901["국적"].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [12]:
# 자동화
# 대륙의 값들을 관리하는 목록 만들기
# - 기준이 없기 때문에 기준을 만들어 줍니다
continentis_list = ["아시아주","미주","구주","대양주",
                    "아프리카주","기타대륙","교포소계"]
continentis_list

['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

In [13]:
# 자동화
# 국적데이터에서 대륙 기준값이 포함되어있는지 확인
# 포함되어있으면, true 없으면 false가 조회
# 사용되는 함수 : isin
condition = kto_201901["국적"].isin(continentis_list)
condition

0      True
1     False
2     False
3     False
4     False
      ...
62    False
63     True
64    False
65     True
66    False
Name: 국적, Length: 67, dtype: bool

In [14]:
# 자동화
# False값 제외 추출
kto_201901_country = kto_201901[condition == False]
kto_201901_country["국적"].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [15]:
kto_201901_country

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
1         일본  198805  2233   127    785   4576  206526  2019-01
2         대만   86393    74    22    180   1285   87954  2019-01
3         홍콩   34653    59     2     90   1092   35896  2019-01
4        마카오    2506     2     0     17     45    2570  2019-01
5         태국   34004    37   199     96   6998   41334  2019-01
6      말레이시아   19043    95     7     99   2821   22065  2019-01
7        필리핀   14279   211   161    184  15638   30473  2019-01
8      인도네시아   14183   136    38    187   4298   18842  2019-01
9       싱가포르    8372    94     8     48   1333    9855  2019-01
10       미얀마    1304    10    31     67   3877    5289  2019-01
11       베트남   10739   763   110   1667   6904   20183  2019-01
12        인도    2318  2656    46    177   3474    8671  2019-01
13      스리랑카     157    54     5     28   1043    1287  2019-01
14      파키스탄     238   178    10    193    413    1032  2019-01
15     방글라데시     149   126    27     97    848    1247  2019-01
16      캄보디아     635    39    55     51   1915    2695  2019-01
17        몽골    8358    77   304    484    562    9785  2019-01
18        중국  320113  2993   138   8793  60777  392814  2019-01
19        이란      60    45    10     23     46     184  2019-01
20      이스라엘     727    12     0      9     57     805  2019-01
21        터키     792    13    32     36    912    1785  2019-01
22    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
23     카자흐스탄    2185    24     7     92   1266    3574  2019-01
24       GCC    1550    37    14     72    103    1776  2019-01
25    아시아 기타    1561   308    70    205   2410    4554  2019-01
27        미국   42989   418  2578    229  16523   62737  2019-01
28       캐나다    8034    57    30     43   4296   12460  2019-01
29       멕시코    1282    11     7     38    515    1853  2019-01
30       브라질    1136    16     9     41    403    1605  2019-01
31     미주 기타    1541    24    33    128    540    2266  2019-01
33        영국    7982   175    17     41   1933   10148  2019-01
34        독일    4925   278    19    177   1451    6850  2019-01
35       프랑스    3773   297    48    288   1168    5574  2019-01
36      네덜란드    1592    47    16     77    537    2269  2019-01
37       스웨덴     844    29     6     18     85     982  2019-01
38       스위스     613    18     0     19     97     747  2019-01
39      이탈리아    1968    83    17     40    623    2731  2019-01
40       덴마크     520    21     6     16    188     751  2019-01
41      노르웨이     552    66     4     28    151     801  2019-01
42       벨기에     490    24     4     22    169     709  2019-01
43     오스트리아     544     8     2     13    209     776  2019-01
44       스페인    1010    36    15     52    255    1368  2019-01
45       그리스     481    17     4      0    273     775  2019-01
46      포르투갈     416    14     0     13    121     564  2019-01
47       핀란드     412    23     1     18    405     859  2019-01
48      아일랜드     392    15     1      2    185     595  2019-01
49     우크라이나     593    58     3     28   1580    2262  2019-01
50       러시아   17260   181    37    191   7525   25194  2019-01
51     크로아티아     226    12     0      3    250     491  2019-01
52      루마니아     412     8     4      3    445     872  2019-01
53      불가리아     154     1     1     10    265     431  2019-01
54       폴란드     713    10     0     27    574    1324  2019-01
55     구주 기타    1809    44    25     91    996    2965  2019-01
57   오스트레일리아   12795    93    17     34   1346   14285  2019-01
58      뉴질랜드    2029    20    17      5    654    2725  2019-01
59    대양주 기타     555     3     4      0     52     614  2019-01
61  남아프리카공화국     368     9     1      6    616    1000  2019-01
62   아프리카 기타     768   718    90    206    908    2690  2019-01
64      국적미상      33     4     0      1     16      54  2019-01
66        교포       0     0     0      0  15526   15526  2019-01

In [16]:
# 자동화
# 인덱스번호 재배열 
# 변수명 : kto_201901_country_newindex 변수에 저장 
kto_201901_country_newindex = kto_201901_country.reset_index(drop=True)

In [17]:
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [18]:
# 대륙 컬럼을 각 국가별로 도출 
len(kto_201901_country_newindex)

60

In [19]:
# 자동화
# 아시아(25), 아메리카(5), 유럽(23), 오세아니아(3)
# 아프리카(2), 기타대륙(1), 교포(1)
continents = ["아시아"]*25 + ["아메리카"]*5 +["유럽"]* 23 +["오세아니아"]*3 +["아프리카"]*2 +["기타대륙"]*1 +["교포"]*1 
continents

['아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '오세아니아',
 '오세아니아',
 '오세아니아',
 '아프리카',
 '아프리카',
 '기타대륙',
 '교포']

In [20]:
# 자동화

#대륙컬럼추가하기
kto_201901_country_newindex["대륙"] = continents
kto_201901_country_newindex.head()
kto_201901_country_newindex.tail()

          국적   관광   상용  공용  유학/연수     기타      계     기준년월     대륙
55    대양주 기타  555    3   4      0     52    614  2019-01  오세아니아
56  남아프리카공화국  368    9   1      6    616   1000  2019-01   아프리카
57   아프리카 기타  768  718  90    206    908   2690  2019-01   아프리카
58      국적미상   33    4   0      1     16     54  2019-01   기타대륙
59        교포    0    0   0      0  15526  15526  2019-01     교포

In [21]:
# 자동화

# 국가 내 관광객 비율을 계산하여 
# "관광객비율(%) 이름으로 컬럼만들기"
# 값은 비율 계산하여 넣기
# 비율값은 소숫점 1자리 까지만
kto_201901_country_newindex["관광객비율(%)"] = round(kto_201901_country_newindex["관광"]/\
                                                kto_201901_country_newindex["계"]*100,2)

In [22]:
kto_201901_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.26
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.23
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.54
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.51
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.27
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.30
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.86
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.27
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,84.95
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.65
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.21
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.73
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.20
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.06
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.95
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.56
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.42
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.49
18,이란,60,45,10,23,46,184,2019-01,아시아,32.61
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.31
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.37
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.03
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.14
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.27
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.28
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.52
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.48
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.19
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.78
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.01
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.66
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.90
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.69
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.16
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.95
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.06
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.06
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.24
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.91
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.11
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.10
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.83
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.06
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.76
44,핀란드,412,23,1,18,405,859,2019-01,유럽,47.96
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.88
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.22
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.51
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.03
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.25
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.73
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.85
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.01
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.57
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.46
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.39
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.80
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.55
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.11
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.00

In [23]:
kto_201901_country_newindex.head()

    국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)
0   일본  198805  2233  127    785  4576  206526  2019-01  아시아     96.26
1   대만   86393    74   22    180  1285   87954  2019-01  아시아     98.23
2   홍콩   34653    59    2     90  1092   35896  2019-01  아시아     96.54
3  마카오    2506     2    0     17    45    2570  2019-01  아시아     97.51
4   태국   34004    37  199     96  6998   41334  2019-01  아시아     82.27

In [24]:
# 자동화

# 전세계 관광객 입국객수 대비 국가별 관광객 비율을 계산하여 컬럼생성
# 컬러명: 전체비율(%)
# 값: 각국가 관광객수 / 전세계 관광객수 * 100 
# 소수점 1자리까지..
kto_201901_country_newindex["전체비율(%)"] = round(kto_201901_country_newindex["관광"]/\
                                                sum(kto_201901_country_newindex["계"])*100,1)

In [25]:
kto_201901_country_newindex.head()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.26,18.0
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.23,7.8
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.54,3.1
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.51,0.2
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.27,3.1

In [26]:
# 국가별로 우리나라에 관광을 위해서 들어오는 비율이 가장 높은 5개 국가만 조회..
kto_201901_country_newindex.sort_values("전체비율(%)",ascending= False).head(5)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.49,29.0
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.26,18.0
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.23,7.8
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.52,3.9
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.54,3.1

## 전체 파일 실행해보기

In [27]:
# 반복문 안에서
# 116개 파일 불러오기
# 파일 불러온 후 df라는 데이터프레임 변수에 저장 후 
# len(df)로 각각의 행의 갯수를 출력  

mm = 1
print(str(mm).zfill(2))

for yy in range(2010, 2020) :
    for mm in range(1, 12): 
        yymm = "{}{}".format(yy,str(mm).zfill(2))
        print(yymm)

01
201001
201002
201003
201004
201005
201006
201007
201008
201009
201010
201011
201101
201102
201103
201104
201105
201106
201107
201108
201109
201110
201111
201201
201202
201203
201204
201205
201206
201207
201208
201209
201210
201211
201301
201302
201303
201304
201305
201306
201307
201308
201309
201310
201311
201401
201402
201403
201404
201405
201406
201407
201408
201409
201410
201411
201501
201502
201503
201504
201505
201506
201507
201508
201509
201510
201511
201601
201602
201603
201604
201605
201606
201607
201608
201609
201610
201611
201701
201702
201703
201704
201705
201706
201707
201708
201709
201710
201711
201801
201802
201803
201804
201805
201806
201807
201808
201809
201810
201811
201901
201902
201903
201904
201905
201906
201907
201908
201909
201910
201911

In [28]:
#201001~201912까지의
#파일명 자동생성하기
#kto_yyymm.xlsx 형태로 출력
#년도 4자리 월 2자리

mm = 1
print(str(mm).zfill(2))

for yy in range(2010, 2020) :
    for mm in range(1, 13): 
        yymm = "kto_{}{}.xlsx".format(yy,str(mm).zfill(2))
        print(yymm)
        
        df = pd.read_excel('./files/'+yymm, header = 1)

01
kto_201001.xlsx
kto_201002.xlsx
kto_201003.xlsx
kto_201004.xlsx
kto_201005.xlsx
kto_201006.xlsx
kto_201007.xlsx
kto_201008.xlsx
kto_201009.xlsx
kto_201010.xlsx
kto_201011.xlsx
kto_201012.xlsx
kto_201101.xlsx
kto_201102.xlsx
kto_201103.xlsx
kto_201104.xlsx
kto_201105.xlsx
kto_201106.xlsx
kto_201107.xlsx
kto_201108.xlsx
kto_201109.xlsx
kto_201110.xlsx
kto_201111.xlsx
kto_201112.xlsx
kto_201201.xlsx
kto_201202.xlsx
kto_201203.xlsx
kto_201204.xlsx
kto_201205.xlsx
kto_201206.xlsx
kto_201207.xlsx
kto_201208.xlsx
kto_201209.xlsx
kto_201210.xlsx
kto_201211.xlsx
kto_201212.xlsx
kto_201301.xlsx
kto_201302.xlsx
kto_201303.xlsx
kto_201304.xlsx
kto_201305.xlsx
kto_201306.xlsx
kto_201307.xlsx
kto_201308.xlsx
kto_201309.xlsx
kto_201310.xlsx
kto_201311.xlsx
kto_201312.xlsx
kto_201401.xlsx
kto_201402.xlsx
kto_201403.xlsx
kto_201404.xlsx
kto_201405.xlsx
kto_201406.xlsx
kto_201407.xlsx
kto_201408.xlsx
kto_201409.xlsx
kto_201410.xlsx
kto_201411.xlsx
kto_201412.xlsx
kto_201501.xlsx
kto_201502.xlsx
kto_201503.xlsx
kto_201504.xlsx
kto_201505.xlsx
kto_201506.xlsx
kto_201507.xlsx
kto_201508.xlsx
kto_201509.xlsx
kto_201510.xlsx
kto_201511.xlsx
kto_201512.xlsx
kto_201601.xlsx
kto_201602.xlsx
kto_201603.xlsx
kto_201604.xlsx
kto_201605.xlsx
kto_201606.xlsx
kto_201607.xlsx
kto_201608.xlsx
kto_201609.xlsx
kto_201610.xlsx
kto_201611.xlsx
kto_201612.xlsx
kto_201701.xlsx
kto_201702.xlsx
kto_201703.xlsx
kto_201704.xlsx
kto_201705.xlsx
kto_201706.xlsx
kto_201707.xlsx
kto_201708.xlsx
kto_201709.xlsx
kto_201710.xlsx
kto_201711.xlsx
kto_201712.xlsx
kto_201801.xlsx
kto_201802.xlsx
kto_201803.xlsx
kto_201804.xlsx
kto_201805.xlsx
kto_201806.xlsx
kto_201807.xlsx
kto_201808.xlsx
kto_201809.xlsx
kto_201810.xlsx
kto_201811.xlsx
kto_201812.xlsx
kto_201901.xlsx
kto_201902.xlsx
kto_201903.xlsx
kto_201904.xlsx
kto_201905.xlsx
kto_201906.xlsx
kto_201907.xlsx
kto_201908.xlsx
kto_201909.xlsx

FileNotFoundError: [Errno 2] No such file or directory: './files/kto_201909.xlsx'

## 함수만들기

In [29]:
#함수만들기
#함수이름: create_kto_data(xxx,xxx)

def create_kto_data(yy,mm):

            file_path = "./files/kto_{}{}.xlsx".format(yy,str(mm).zfill(2))
            
            df = pd.read_excel(file_path, header=1,skipfooter=4,usecols="A:G")

            df["기준년월"] = "{}-{}".format(yy,str(mm).zfill(2))
            
            continentis_list = ["아시아주","미주","구주","대양주",
                            "아프리카주","기타대륙","교포소계"]

            condition = df["국적"].isin(continentis_list)

            df_country = df[condition == False]

            df_country["국적"].unique()

            df_country_newindex = df_country.reset_index(drop=True)

            continents = ["아시아"]*25 + ["아메리카"]*5 +["유럽"]* 23 +["오세아니아"]*3 +["아프리카"]*2 +["기타대륙"]*1 +["교포"]*1 

            df_country_newindex["대륙"] = continents

            df_country_newindex["관광객비율(%)"] = round(df_country_newindex["관광"]/\
                                            df_country_newindex["계"]*100,2)

            df_country_newindex["전체비율(%)"] = round(df_country_newindex["관광"]/\
                                            sum(df_country_newindex["계"])*100,1)
            
            return df_country_newindex

In [30]:
create_kto_data(2019,1)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.26,18.0
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.23,7.8
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.54,3.1
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.51,0.2
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.27,3.1
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.30,1.7
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.86,1.3
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.27,1.3
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,84.95,0.8
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.65,0.1
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.21,1.0
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.73,0.2
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.20,0.0
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.06,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.95,0.0
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.56,0.1
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.42,0.8
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.49,29.0
18,이란,60,45,10,23,46,184,2019-01,아시아,32.61,0.0
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.31,0.1
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.37,0.1
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.03,0.2
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.14,0.2
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.27,0.1
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.28,0.1
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.52,3.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.48,0.7
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.19,0.1
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.78,0.1
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.01,0.1
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.66,0.7
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.90,0.4
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.69,0.3
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.16,0.1
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.95,0.1
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.06,0.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.06,0.2
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.24,0.0
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.91,0.0
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.11,0.0
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.10,0.0
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.83,0.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.06,0.0
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.76,0.0
44,핀란드,412,23,1,18,405,859,2019-01,유럽,47.96,0.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.88,0.0
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.22,0.1
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.51,1.6
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.03,0.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.25,0.0
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.73,0.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.85,0.1
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.01,0.2
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.57,1.2
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.46,0.2
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.39,0.1
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.80,0.0
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.55,0.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.11,0.0
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.00,0.0

In [42]:
df_all = pd.DataFrame()

for yy in range(2010, 2020) :
    for mm in range(1, 13):
        try : 
            temp = create_kto_data(yy,mm)
             
            #통합하기
            df_all = df_all.append(temp, ignore_index = True) #ignore_index = True 다시 0 부터 재정렬 
            # print(df_country_newindex.head(1))
            
        except:  #오류안나는것만 나타나게하기
            pass
        
len(df_all)

6960

In [46]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6960 entries, 0 to 6959
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   국적        6960 non-null   object
 1   관광        6960 non-null   int64
 2   상용        6960 non-null   int64
 3   공용        6960 non-null   int64
 4   유학/연수     6960 non-null   int64
 5   기타        6960 non-null   int64
 6   계         6960 non-null   int64
 7   기준년월      6960 non-null   object
 8   대륙        6960 non-null   object
 9   관광객비율(%)  6960 non-null   float64
 10  전체비율(%)   6960 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 598.2+ KB

In [33]:
df_all["국적"].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [52]:
# 최종본 저장하기
# 파일이름: kto_total.xlsx 
df_all.to_excel('kto_total.xlsx')

In [53]:
df_temp = pd.read_excel("./files/kto_total.xlsx",index_col=0)
df_temp

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,96.96,35.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.32,6.3
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.39,2.4
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.00,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.08,2.3
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,2019-08,오세아니아,85.22,0.0
6956,남아프리카공화국,634,6,1,11,1235,1887,2019-08,아프리카,33.60,0.0
6957,아프리카 기타,2081,593,165,841,1184,4864,2019-08,아프리카,42.78,0.1
6958,국적미상,36,1,0,8,12,57,2019-08,기타대륙,63.16,0.0
6959,교포,0,0,0,0,16560,16560,2019-08,교포,0.00,0.0